apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  namespace: {{ .Values.namespace }}
  labels:
    app: adservice
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.adservice.image }}:{{ .Values.adservice.tag }}"
          ports:
            - containerPort: 9555
---
apiVersion: v1
kind: Service
metadata:
  name: adservice
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: adservice
  ports:
    - port: 9555
      targetPort: 9555
