apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  namespace: {{ .Values.namespace }}
  labels:
    app: currencyservice
    {{- include "app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      containers:
        - name: server
          image: "{{ .Values.currencyservice.image }}:{{ .Values.currencyservice.tag }}"
          ports:
            - containerPort: 7000
          readinessProbe:
            tcpSocket:
              port: 7000
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 7000
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: currencyservice
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: currencyservice
  ports:
    - name: grpc
      port: 7000
      targetPort: 7000
